.header__logo {
    background-image: url("../../../images/Vector.svg");
    background-repeat: no-repeat;
    max-width: 142px;
    margin-bottom: 41px;
    margin-left: 0;
    min-height: 33px;
    flex: 1;
}

@media (max-width: 320px) {
    .header__logo {
        margin-left: 30px;
        max-width: 103.74px;
        margin-bottom: 31.6px;
        flex: 1;
    }
}