.popup__button {
    font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
    background: #000000;
    border-radius: 2px;
    color: white;
    cursor: pointer;
    transition: 1s;
    border: none;
}

.popup__button:hover {
    transition: 1s;
    opacity: .8;
}

@media (min-width: 320px) {
    .popup__button {
        max-width: 238px;
        min-height: 46px;
        margin: 45px 22px 25px;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    }
}

@media (min-width: 1280px) {
    .popup__button {
        max-width: 358px;
        min-height: 50px;
        margin: 56px 36px 37px;
        font-size: 18px;
        line-height: 22px;
    }
}