.popup__window {
    position: relative;
    background-color: white;
    border-radius: 10px;
    box-sizing: border-box;
}

@media (max-width: 320px) {
    .popup__window {
        min-height: 282px;
        min-width: 279px;
    }
}

@media (max-width: 1280px) {
    .popup__window {
        max-width: 430px;
        width: 100%;
        min-height: 330px;
    }
}